.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.questions-list-container {
  padding: 10px;
}

.container,
.login-container,
.new-question-form,
.questions-list,
.dashboard-qestion {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.btn-question {
  margin-left: 40%;
}

.question-info {
  float: right;
}

.user-avatar {
  float: left;
}

.user-avatar img {
  border-radius: 50%;
  margin-left: 15px;
}

.question-wraper {
  border: 1px solid #007bff;
  margin: 0 10;
  margin-bottom: 15px;
  border-radius: 25px;
}

.answer-btns {
  margin-left: 40%;
}
