.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.questions-list-container {
  padding: 10px;
}

.container,
.login-container,
.new-question-form,
.questions-list,
.dashboard-qestion,
.page404,
.new-question-wraper {
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.btn-question {
  margin-left: 40%;
}

.question-info {
  float: right;
}

.user-avatar {
  float: left;
}

.user-avatar img {
  border-radius: 50%;
  margin-left: 15px;
  width: 75%;
  height: 75%;
}

.question-wraper,
.answered-question,
.container,
.login-container,
.page404,
.new-question-wraper {
  border: 2px solid #007bff;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  padding: 20px;
}

.answer-btns {
  margin-left: 40%;
}

.form-check {
  text-align: left;
}

.progress {
  height: 30px;
}

.progress-bar.bg-info {
  color: black;
  font-size: 1.5em;
  text-align: center;
}

.leaderboard-wraper {
  width: 50%;
  margin: auto;
  border: 2px solid #007bff;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}
.leaderboard-user {
  border: 2px solid #007bff;
  margin-top: 15px;
}

.user-avatar-leaderboard img {
  border-radius: 50%;
  margin-left: 10px;
  float: left;
  padding: 5px 10px 5px 10px;
}
